@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Geist:wght@100..900&family=Nanum+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;      
    scroll-padding-top: 80px;     
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
}

h1{
    text-align: center;
}
h2{
    margin-top: 3em;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: #fff;
    border-bottom: 2px solid #038C4C;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* .logo, .search-box, .icones-header{ flex: 1; } */
.logo .highlight {
    color: #038C4C;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-size: 25px;
}

.search-box input {
    width: 380px;
    padding: 8px 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
}

.search-hamburger{ 
    display: none; 
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    align-items: center; 
}

.icones-header{
    display: flex;
    position: relative;
    line-height: 40px;
    font-size: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: #333;
}

.icones-header ion-icon{
    padding-top: 7px;
    padding-left: 25px;
    color: #333;
}

.icones-header ion-icon:hover{
    color: rgb(0, 128, 85);
}

/* Menu */
/* Nav Menu */
.menu {
    position: fixed;
    overflow: hidden;
    height: 89%;
    top: 73px;
    width: 80px;
    background-color: white;
    border-right: 6px solid rgb(0, 128, 85);
    z-index: 2;
    transition: all 0.3s ease;
}

.menu:hover{ width: 230px; }

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 5px;
}

.menu ul li{
    position: relative;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}
.menu ul li a{
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    line-height: 23px;
    padding: 11px 20px;
    margin-left: 8px;
    width: 100%;
    color: rgb(49, 48, 48);
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.menu ul li a:hover{
    background-color: rgb(0, 128, 85);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}

.menu-hamburger{
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 2rem;
    cursor: poin;
}

.menu-hamburger span{
    width: 100%;
    height: 3px;
    background-color: rgb(49, 48, 48);
    position: absolute;
    left: 0;
    transition: all .3s ease-in-out;
}
.menu-hamburger:hover span,
.menu-hamburger.open span { background-color: rgb(0, 128, 85); }

.menu-hamburger span:nth-child(1){
    top: 0px;
}

.menu-hamburger span:nth-child(2),
.menu-hamburger span:nth-child(3){
    top: 10px;
}


.menu-hamburger span:nth-child(4){
    top: 20px;
}

.menu-hamburger.open span:nth-child(1),
.menu-hamburger.open span:nth-child(4){
    top: 10px;
    width: 0;
    left: 50%;
}

.menu-hamburger.open span:nth-child(2){ transform: rotate(45deg); }
.menu-hamburger.open span:nth-child(3){ transform: rotate(-45deg); }

.carousel {
    flex: 80%;
    position: relative;
    width: 100%; 
    margin: auto;
    margin-top: 74px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
    height: 450px;
    padding-bottom: 15px;
}

.slide {
    flex: 0 0 auto; 
    width: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide img {
    width: 100%;
    height: 100%;
    display: block;
}

.slide a {
    font-size: 16px;
    color: #333;
    transform: all 0.1s linear;
    text-decoration: none;
}

.slide a:hover{
    color: rgb(0, 128, 53);
    text-decoration: underline;
    transition: 0.2s;
}
/* Produtos */

.produtos h2{
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}
.produtos .cards {
    margin-top: 1em;
    display: flex;
    margin-left: 80px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, minmax(290px, auto));
    padding: 0 1em;
}

.card {
    flex: 1 1 250px;
    justify-content: center;
    max-width: 250px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.card img {
    max-width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.card:hover{
    scale: 1.1;
}

/* Footer */
footer {
    height: auto;
    background-color: #333;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    border-top: 3px solid rgb(0, 128, 85);
}
footer #para{
    padding-top: 15px;
}
.footer-links{
    padding-top: 30px;
}
.footer-links a {
    color: white;
    margin: 0 10px;
    transition: 0.2s ease;
}

.footer-links a:hover {
    color: rgb(0, 128, 85);
    text-decoration: underline;
}
.icon{
    margin-right: 22px;
    font-size: 20px;
}

@media (max-width: 600px) {
    .logo{ font-size: 10px; }
    .icones-header{ font-size: 35px; }
    .icones-header a:nth-child(2){ display: none; }

    .menu {
        height: 100dvh;
        top: 72px;
        right: -50em;
        width: 70%;
        border-right: none;
        border-left: 6px solid rgb(0, 128, 85);
    }

    .menu.open{ right: 0; }

    .menu-hamburger{ display: flex; }

    .menu ul{
        padding-left: 0;
        padding-right: 5px;
    }

    .menu ul li a{
        margin-left: 0;
        margin-right: 8px;
    }

    .menu ul li a:hover{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .menu:hover{ width: 70%; }

    .search-box{ display: none; }

    .search-hamburger{ 
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 10px 5%;
    }
    

    .search-hamburger input{ 
        position: relative;
        width: 100%;
        padding: 8px 15px;
        border-radius: 25px;
        border: 1px solid #ddd;
        z-index: 20;
    }

    .produtos .cards{ margin-left: 0px; }

    .cards {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr);  
    }

    .card{ max-width: 150px; }
    footer{ font-size: 15px; }

    .footer-links a{ line-height: 30px;}
}